Repository lewislbr/plants-almanac: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-go, docker-node, docker-prettier, docker-eslint, docker-typescript

docker-go:
  name: users-test
  language: system
  entry: sh -c "docker run --rm -v $(pwd)/users:/app -w /app plantdex/users:ci go test ./..."
  verbose: true

docker-node:
  name: web-build
  language: system
  entry: sh -c "docker build -t plantdex/web:ci --target=ci web"
  verbose: true

docker-prettier:
  name: web-format
  language: docker_image
  entry: plantdex/web:ci sh -c "cd web && npm run format"
  verbose: true

docker-eslint:
  name: web-lint
  language: docker_image
  entry: plantdex/web:ci sh -c "cd web && npm run lint"
  verbose: true

docker-typescript:
  name: web-typecheck
  language: docker_image
  pass_filenames: false
  entry: plantdex/web:ci sh -c "cd web && npm run ts"
  verbose: true

Change Go linter
  .pre-commit-config.yaml
  plants/Dockerfile
  users/Dockerfile
Due: docker-go

Add error message on 500
  plants/server/handler.go
  plants/server/middleware.go
  users/server/handler.go
Due: docker-go

Use non-root Docker user
  plants/Dockerfile
  users/Dockerfile
  web/Dockerfile
Due: docker-go, docker-node, docker-prettier, docker-eslint, docker-typescript

Change resource paths
  docker-compose.yaml
  plants/server/handler_test.go
  plants/server/server.go
  users/server/handler.go
  users/server/handler_test.go
  users/server/server.go
  web/src/plant/services/plant.ts
  web/src/user/services/user.ts
Due: docker-go, docker-node, docker-prettier, docker-eslint, docker-typescript

Refine pre-commit triggers
  .pre-commit-config.yaml
Due: none

Set up k8s
  .gitignore
  .kubernetes/ingress.yaml
  .kubernetes/plants.yaml
  .kubernetes/users.yaml
  .kubernetes/web.yaml
  Makefile
  docker-compose.yaml
Due: none

Define headers in ingress
  .github/workflows/plants.yaml
  .github/workflows/users.yaml
  .kubernetes/ingress.yaml
  plants/go.mod
  plants/go.sum
  plants/main.go
  plants/server/middleware.go
  plants/server/server.go
  users/go.mod
  users/go.sum
  users/main.go
  users/server/middleware.go
  users/server/server.go
  web/gss.yaml
Due: docker-go, docker-node, docker-prettier, docker-eslint, docker-typescript

Add ingress for local development
  .traefik/routes.yaml
  .traefik/traefik.yaml
  docker-compose.yaml
Due: none

Use Ambassador ingress
  .kubernetes/ingress.yaml
  .kubernetes/plants.yaml
  .kubernetes/users.yaml
  .kubernetes/web.yaml
  Makefile
Due: none

Define app domain as environment variable
  users/main.go
  users/server/handler.go
  users/server/handler_test.go
  users/server/server.go
Due: docker-go

Add missing cookie path
  users/server/handler.go
Due: docker-go

Refactor set up
  .envoy/envoy.yaml
  .github/workflows/plants.yaml
  .github/workflows/users.yaml
  .github/workflows/web.yaml
  .gitignore
  .kubernetes/ingress.yaml
  .kubernetes/plants.yaml
  .kubernetes/users.yaml
  .kubernetes/web.yaml
  .traefik/routes.yaml
  .traefik/traefik.yaml
  Makefile
  docker-compose.yaml
Due: none

Change api paths
  .envoy/envoy.yaml
  .kubernetes/ingress.yaml
  plants/server/server.go
  users/server/server.go
Due: docker-go

Move timeout and rate limiting to ingress
  .kubernetes/ingress.yaml
  plants/go.mod
  plants/go.sum
  plants/server/server.go
  users/go.mod
  users/go.sum
  users/server/server.go
Due: docker-go

Add liveness and readiness probes
  .kubernetes/plants.yaml
  .kubernetes/users.yaml
  plants/main.go
  plants/server/server.go
  users/main.go
  users/server/server.go
Due: docker-go

Simplify config
  .kubernetes/ingress.yaml
  .kubernetes/plants.yaml
  .kubernetes/users.yaml
  .kubernetes/web.yaml
Due: none

Set up deploy in CD
  .github/workflows/plants.yaml
  .github/workflows/users.yaml
  .github/workflows/web.yaml
  .kubernetes/plants.yaml
  .kubernetes/users.yaml
  .kubernetes/web.yaml
Due: none

Consolidate app ports
  .envoy/envoy.yaml
  .kubernetes/plants.yaml
  .kubernetes/users.yaml
  .kubernetes/web.yaml
  docker-compose.yaml
  plants/main.go
  plants/server/server.go
  users/main.go
  users/server/server.go
  web/gss.yaml
  web/webpack.config.ts
Due: docker-go, docker-node, docker-prettier, docker-eslint, docker-typescript

Refactor authorization flow
  plants/server/middleware.go
  users/server/handler.go
  users/server/handler_test.go
  users/server/server.go
  web/src/user/services/user.ts
Due: docker-go, docker-node, docker-prettier, docker-eslint, docker-typescript

Add logout functionality
  .kubernetes/users-redis.yaml
  docker-compose.yaml
  users/authorize/mock_checker.go
  users/authorize/service.go
  users/authorize/service_test.go
  users/go.mod
  users/go.sum
  users/main.go
  users/revoke/mock_adder.go
  users/revoke/service.go
  users/revoke/service_test.go
  users/server/handler.go
  users/server/handler_test.go
  users/server/mock_revoker.go
  users/server/server.go
  users/storage/driver.go
  users/storage/postgres/driver.go
  users/storage/postgres/repository.go
  users/storage/redis/driver.go
  users/storage/redis/repository.go
  web/src/App.tsx
  web/src/shared/components/NavBar.tsx
  web/src/user/constants/copy.ts
  web/src/user/services/user.ts
  web/src/user/views/Account.tsx
  web/src/user/views/index.ts
Due: docker-go, docker-node, docker-prettier, docker-eslint, docker-typescript

Refactor
  .kubernetes/plants.yaml
  .kubernetes/users-redis.yaml
  .kubernetes/users.yaml
  .kubernetes/web.yaml
  plants/add/service.go
  plants/delete/service.go
  plants/edit/service.go
  plants/list/service.go
  plants/main.go
  plants/storage/mongo/driver.go
  plants/storage/mongo/repository.go
  users/authenticate/service.go
  users/authorize/service.go
  users/create/service.go
  users/generate/service.go
  users/main.go
  users/revoke/service.go
Due: docker-go

Fix untimely token refresh
  web/src/App.tsx
Due: docker-node, docker-prettier, docker-eslint, docker-typescript

Increase ingress rate limit
  .kubernetes/ingress.yaml
Due: none

Display account info
  users/info/mock_getter.go
  users/info/service.go
  users/info/service_test.go
  users/main.go
  users/server/handler.go
  users/server/handler_test.go
  users/server/mock_infoer.go
  users/server/server.go
  users/storage/postgres/repository.go
  users/user/entity.go
  web/src/plant/utils/sort.ts
  web/src/plant/views/PlantList.tsx
  web/src/shared/utils/date.ts
  web/src/user/interfaces/user.ts
  web/src/user/services/user.ts
  web/src/user/views/Account.tsx
Due: docker-go, docker-node, docker-prettier, docker-eslint, docker-typescript

Fix base path
  web/webpack.config.ts
Due: docker-node, docker-prettier, docker-eslint, docker-typescript

Add request timeout
  plants/server/middleware.go
Due: docker-go

Remove redundant setting
  plants/server/server.go
  users/server/server.go
Due: docker-go

Add ingress retry policy
  .kubernetes/ingress.yaml
Due: none

Update dependencies
  plants/go.mod
  plants/go.sum
  plants/server/handler.go
  plants/server/server.go
  users/go.mod
  users/go.sum
  users/server/server.go
  users/storage/redis/driver.go
  users/storage/redis/repository.go
  web/package-lock.json
  web/package.json
Due: docker-go, docker-node, docker-prettier, docker-typescript

Add project info
  README.md
  system-diagram.png
Due: none

refactor: add errors context
  plants/go.mod
  plants/main.go
  plants/plant/service.go
  plants/plant/service_test.go
  plants/server/handler.go
  plants/server/middleware.go
  plants/server/server.go
  plants/storage/mongo/driver.go
  plants/storage/mongo/repository.go
  users/go.mod
  users/main.go
  users/server/handler.go
  users/server/server.go
  users/storage/postgres/driver.go
  users/storage/postgres/repository.go
  users/storage/redis/driver.go
  users/storage/redis/repository.go
  users/token/service.go
  users/token/service_test.go
  users/user/service.go
  users/user/service_test.go
Due: docker-go

feat: add make setup command
  Makefile
Due: none

refactor: simplify command
  Makefile
Due: none

fix: casing
  plants/server/middleware.go
Due: docker-go

refactor: use var for empty structs
  plants/server/handler.go
  plants/server/handler_test.go
Due: docker-go

fix: return error conditionally
  plants/server/server.go
  users/server/server.go
Due: docker-go

feat: increase token expiration
  users/server/mock_token_service.go
  users/server/mock_user_service.go
  users/storage/redis/repository.go
  users/token/mock_redis_repository.go
  users/token/service.go
  users/token/service_test.go
  users/user/mock_postgres_repository.go
Due: docker-go

chore: rename modules
  plants/go.mod
  plants/main.go
  plants/server/handler.go
  plants/server/handler_test.go
  plants/server/mock_plant_service.go
  plants/storage/mongo/repository.go
  users/go.mod
  users/main.go
  users/server/handler.go
  users/server/handler_test.go
  users/server/mock_user_service.go
  users/storage/postgres/repository.go
Due: docker-go

Path conditions:
  docker-go: (((((any of: ^plants/) or (any of: ^users/)) or (any of: ^users/)) or (any of: ^users/)) or (any of: ^users/)) or (any of: ^users/)
  docker-node: any of: ^web/
  docker-prettier: any of: ^web/
  docker-eslint: any of: ^web/ and not (\.css$) and not (\.(html|htm|xhtml)$) and not (\.json$)
  docker-typescript: any of: ^web/
